{% extends "admin/change_form.html" %}
{% load static %}

{% block footer %}
    {{ block.super }}
    
    {# Inyectamos el JSON de forma segura al final del contenido #}
    <script id="wa-data-json" type="application/json">
        {{ whatsapp_json_data|safe }}
    </script>

    <style>
        /* Ocultar botón historia para productores en la edición */
        {% if user.role == 'PRODUCTOR' %}
        .historylink { display: none !important; }
        {% endif %}
    </style>

{% endblock %}
