#toggle-filters-btn {
  display: none;
  background: var(--admin-interface-module-background-color);
  color: var(--admin-interface-module-link-color);
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
}
@media (min-width: 768px) {
  #toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #toggle-filters-btn {
    display: block;
  }
}

#result_list {
  width: 100%;
  table-layout: auto;
}
#result_list th, #result_list td {
  padding: 8px 5px !important;
  white-space: normal !important;
  vertical-align: middle;
}
.column-full_name {
  max-width: 150px;
  word-wrap: break-word;
}
.column-email_link {
  max-width: 120px;
  word-wrap: break-word;
}
.column-email_link a, .column-phone_link a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.field-productor .related-widget-wrapper-link {
  display: none !important;
}

.column-highlight_row, .field-highlight_row {
  display: none;
}
