.row-active {
  background-color: #00ff0050 !important;
}
.row-inactive {
  background-color: #ff000050 !important;
}
.row-green {
  background-color: #00ff0050 !important;
}
.row-yellow {
  background-color: #ffff0050 !important;
}
.row-red {
  background-color: #ff000050 !important;
}

.row-pendiente {
  background-color: #E2E8F0 !important;
}
.row-contactado {
  background-color: #9cdbff !important;
}
.row-interesado {
  background-color: #fffc9a !important;
}
.row-no_interesado {
  background-color: #ff9d9d !important;
}
.row-por_cerrar_venta {
  background-color: #ca9bff !important;
}
.row-venta_cerrada {
  background-color: #9bffbb !important;
}

@media (min-width: 768px) {
  .calendarbox, .clockbox {
    width: 19em !important;
  }
}